
$white: #FCFDFF;
$light10: rgba(241, 247, 255, 0.10);
$light: #F1F7FF;
$base10: rgba(8, 97, 221, 0.10);
$base: #0861DD;
$hover: #0040B4;
$active: #00228C;
$dark-body: rgba(0, 16, 86, 0.90);
$dark-header: #001056;  
    