@import "./colors";
@import "./fonts";

.headerff {
    @include heading-8;
    background-color: $base;
    padding: 10px 20px;
    color: $white;
    text-decoration: none;
    transition: 0.2s linear;
    border-radius: 3px;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }
}


.headerinfoff {
    background-color: $base;
    border-radius: 3px;
    color: $white;
    transition: 0.2s linear;
    padding: 20px 37px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }
}

.base-btn {
    background-color: $base;
    border-radius: 3px;
    color: $white;
    transition: 0.2s linear;
    padding: 20px 36px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    text-decoration: none;
    display: inline-block;

    &.--small {
        padding: 15px 20px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }
}