@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

@mixin heading-1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
}

@mixin heading-2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;

}

@mixin heading-3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;

}

@mixin heading-4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

@mixin heading-5 {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;

}

@mixin heading-6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

@mixin heading-7 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

@mixin heading-8 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

@mixin caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: $hover;

}

@mixin body-1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

@mixin body-2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

@mixin body-3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

@mixin body-4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

@mixin body-5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

@mixin body-6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

@mixin body-7 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

@mixin body-8 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

}