@include media-breakpoint-down(xl) {
    .block10__team {
        padding-top: 60px !important;

    }

    .block10__phone__desktop {
        display: none !important;
    }
}

.block10__phone__mobile {
    display: inline-flex;
    margin-right: 16px;
    @include media-breakpoint-up(xl) {
        display: none !important;
    }
}

.block10__phone__desktop {
    display: inline-flex;

    .block10__phohenumber1 {
        font-size: 16px;
        position: absolute;
        margin-top: 45px;
        color: $dark-body;
        font-family: 'Nunito Sans';

        &:hover {
            color: $hover;
            transition: 0.2s linear;
        }

        display: none;

        &.--active {
            display: block;
        }
    }
    .block10__phohenumber2 {
        font-size: 16px;
        position: absolute;
        margin-top: 45px;
        color: $dark-body;
        font-family: 'Nunito Sans';

        &:hover {
            color: $hover;
            transition: 0.2s linear;
        }

        display: none;

        &.--active {
            display: block;
        }
    }
}

.block10__team {
    padding-left: 0;
    padding-right: 0;
    padding-top: 120px;
    padding-bottom: 70px;

    .team1 {
        margin-left: 15px;

    }

    .team2 {
        margin-right: 15px;
    }

    &__img__wrapper {
        a {
            text-decoration: none;
            margin-right: 16px;
            transition: 0.25s linear;

            &:last-child {
                margin-right: 0;
            }

            svg {
                fill: $dark-header;
                width: 24px;
                height: 24px;
                transition: 0.3s linear;

                &:hover {
                    fill: $hover;
                }

            }
        }

    }

    &__tittle {
        text-align: center;

        .block10__team__tittle__caption {
            @include caption;
            padding-bottom: 16px;
        }

        .block10__team__tittle__header {
            @include heading-2;
            padding-bottom: 16px;
        }

        .block10__team__tittle__text {
            @include body-1;
            line-height: 180%;
        }
    }



    &__content__caption {
        @include caption;
        text-transform: none;
        padding-bottom: 32px;
        font-weight: 400;
    }

    &__first {
        padding-bottom: 140px;
    }
}

.block10__team__first {
    @include media-breakpoint-down(xl) {
        padding-bottom: 80px !important;
    }

    h3 {
        @include heading-4;
        padding-bottom: 8px;
        color: $dark-body;
        text-transform: uppercase;
        line-height: 30px;
        margin: 0;
    }

    p {
        @include body-4;
        margin-bottom: 0;
        line-height: 180%
    }
}

.block10__team__second {
    h3 {
        @include heading-4;
        padding-bottom: 8px;
        color: $dark-body;
        text-transform: uppercase;
        line-height: 30px;
        margin: 0;
    }

    p {
        @include body-4;
        margin-bottom: 0;
        line-height: 180%
    }
}