    @include media-breakpoint-down(xl) {
        .block3__aboutus {
            padding-top: 80px !important;
        }
    }

    .block3__aboutus {
        padding-top: 120px;
        padding-bottom: 60px;
    }



    .block3__aboutus__grades {
        color: $dark-header;
        text-align: center;
        display: flex;
        @include media-breakpoint-down(md) {
            justify-content: center;
        }
    
        @include media-breakpoint-down(xl) {
            flex-wrap: wrap; 
        }

        .block3__aboutus__grades__item {

            @include media-breakpoint-down(md) {
                border-right: none;
                padding: 0;
                width: 50%!important;
            } 

            @include body-3;
            border-right: 1px solid $base;
            padding: 24px 16px;
            width: 33%;

            &:last-child {
                border-right: none;
            }

            h4 {
                @include heading-2;
                color: $dark-header;

            }

        }


    }

    .base__info__constructor__content {

        color: $dark-header;

        h3 {
            @include heading-2;
            margin-bottom: 24px;
            color: $dark-body;
            line-height: 48px;
        }

        p {
            @include body-4;
            line-height: 28.8px;
            margin-bottom: 0;
        }
    }