$maxblock1-height: 846px;
$maxblock1-wigth: 1440px;

@include media-breakpoint-down(xl) {
    .block1__headerinfo {
        padding-top: 0 !important;
    }
}

@include media-breakpoint-down(md) {
    .block1__headerinfo__arrows {
        display: none !important;
    }
}

.block1__headerinfo {
    .block1__header__mobile__wrapper {
        @include media-breakpoint-up(xl) {
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 8%;
        background: $white;

        &:after {
            content: '';
            height: 1px;
            display: block;
            background: linear-gradient(90deg,
                    rgba($base, 0) 0%,
                    rgba($base, 1) 17.6%,
                    rgba($base, 1) 82.7%,
                    rgba($base, 0) 100%);
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        @include media-breakpoint-up(xl) {
            .block1__img__wrapper {
                display: none;
            }
        }

        .header__logo {
            z-index: 8;

            @include media-breakpoint-up(xl) {
                display: none;
            }

            svg {
                width: 80px;
                height: 80px;

                @include media-breakpoint-up(sm) {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .block1__img__wrapper {
            padding-right: 0;
            position: fixed;
            right: 4%;
            z-index: 10;

            a {
                text-decoration: none;
                transition: 0.25s linear;

                svg {
                    fill: $base;
                    width: 30px;
                    height: 30px;
                }
            }

        }


        @include media-breakpoint-up(xl) {
            .menu-btn {
                display: none;
            }

            .menu {
                display: none;
            }
        }

        @include media-breakpoint-down(xl) {
            .menu-btn {
                width: 22px;
                height: 30px;
                position: fixed;
                z-index: 9;
                overflow: hidden;
                left: 4%;
            }

            .menu-btn span {
                z-index: 1;
                width: 25px;
                height: 2.5px;
                position: absolute;
                top: 56%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $base;
                transition: all 0.5s;
            }

            .menu-btn span:nth-of-type(2) {
                top: calc(50% - 5px);
            }

            .menu-btn span:nth-of-type(3) {
                top: calc(62% + 5px);
            }

            .menu {

                ul {
                    @include media-breakpoint-up(md) {
                        justify-content: center;
                    }

                    padding: 20px 0;
                    padding-left: 10px;
                    margin-bottom: 0;

                    li {
                        @include media-breakpoint-down(md) {
                            display: inline-flex;
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }

                text-align: center;
                z-index: 4;
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;

                @include media-breakpoint-up(md) {
                    width: 40%;
                }

                &:before {
                    content: '';
                    height: 1px;
                    display: block;
                    background: linear-gradient(90deg,
                            rgba($base, 1) 50%,
                            rgba($base, 0.5) 75%,
                            rgba($base, 0) 100%);
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }

                padding: 0 15px 10px 15px;
                background: linear-gradient(90deg,
                    rgba($white, 1) 80%,
                    rgba($white, 0.95) 90%,
                    rgba($white, 0.9) 100%);
                transform: translateX(-100%);
                transition: transform 0.5s;
                position: fixed;
            }

            .menu {
                z-index: 8;
                &.--active {
                    z-index: 8;
                    position: fixed;
                    transform: translateX(0);
                    transition: transform 0.5s;
                }
            }

            .menu li {
                list-style-type: none;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    @include media-breakpoint-up(md) {
                        padding: 10px 20px 10px 0;
                        font-size: 30px;
                    }

                    @include body-2;
                    font-size: 20px;
                    color: $dark-body;
                    display: flex;
                    justify-content: center;
                }

            }

            .menu-btn {
                &.--active span:nth-of-type(1) {
                    display: none;
                }

                &.--active span:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(45deg);
                }

                &.--active span:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(-45deg);
                }
            }
        }
    }

    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .block1__headerinfo__arrows {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: calc((44px * 100vh) / $maxblock1-height);
        left: 50%;
        transform: translate(-50%, 0);
        height: calc((308px * 100vh) / $maxblock1-height);
        width: calc((600px *100vw) / $maxblock1-wigth);

        .svg-icon {
            height: 100%;
        }
    }



    background-image: url("../assets/images/homepage.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;

    .block1__headerinfo__content {
        padding: 30px;
        z-index: 1;
        text-align: center;

        @include media-breakpoint-down(md) {
            padding: 30px 0;
        }

        h1 {

            @include heading-1;
            color: $dark-header;
            padding-bottom: 28px;

            @include media-breakpoint-down(md) {
                font-size: 34px;
            }
        }

        p {
            @include body-2;
            color: $dark-header;
            padding-bottom: 36px;
            margin: 0;
            line-height: 30px;

            @include media-breakpoint-down(md) {
                font-size: 16px;
                line-height: 155%;
            }
        }
    }

    a {
        z-index: 1;
        color: $white;
        text-decoration: none;
    }

}