$maxblock1-height: 846px;
$maxblock1-wigth: 1440px;
@include media-breakpoint-down(xl) {
    .block1__headerinfo {
        .container-fluid {
            padding-top: 0!important;
        }
    }
}
@include media-breakpoint-down(md){
    .block1__headerinfo__arrows{
        display: none!important;
    }
}
.block1__headerinfo {
    @include media-breakpoint-up(xl){
        .menu-btn{
            display: none;
        }
        .menu{
            display: none;
        }
    }
    @include media-breakpoint-down(xl){
        .menu-btn {
            width: 30px;
            height: 30px;
            position: fixed;
            z-index: 5;
            overflow: hidden;
            right: 3%;
            top: 2%;
        }
        .menu-btn span {
            z-index: 1;
            width: 25px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $base;
            transition: all 0.5s;
        }
        .menu-btn span:nth-of-type(2) { 
            top: calc(50% - 5px);
        }
        .menu-btn span:nth-of-type(3) {
            top: calc(50% + 5px);
        }
        .menu {
            ul{
                @include media-breakpoint-up(md){
                    display: flex;
                    justify-content: center;
                }
                padding-left: 0;
                margin-bottom: 0;
                li{
                    @include media-breakpoint-down(md){
                        display: inline-flex;
                        width: 48%;
                        justify-content: center;
                    }
                }
            }
            text-align: center;
            z-index: 4;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            &:after {
                content: '';
                height: 1px;
                display: block;
                background: linear-gradient(90deg,
                        rgba($base, 0) 5%,
                        rgba($base, 0.5) 35%,
                        rgba($base, 0.75) 50%,
                        rgba($base, 0.5) 65%,
                        rgba($base, 0) 95%);
                position: absolute;
                width: 100%;
                top: 0;
            }
            &:before {
                content: '';
                height: 1px;
                display: block;
                background: linear-gradient(90deg,
                        rgba($base, 0) 5%,
                        rgba($base, 0.5) 35%,
                        rgba($base, 0.75) 50%,
                        rgba($base, 0.5) 65%,
                        rgba($base, 0) 95%);
                position: absolute;
                width: 100%;
                bottom: 0;
            }
            padding: 15px 15px 10px 15px;
            background: linear-gradient(90deg,
            rgba($light, 0.9) 0%,
            rgba($light, 1) 10%,
            rgba($light, 1) 90%,
            rgba($light, 0.9) 100%);
            transform: translateX(100%);
            transition: transform 0.5s; 
            position: fixed;
        }
        .menu{
        &.--active {
            position: fixed;
            transform: translateX(0);
            transition: transform 0.5s; 
        }
    }
        .menu li {
            a{  
                @include media-breakpoint-up(md){
                    display: flex;
                    padding: 10px 20px 10px 0;
                    font-size: 24px;
                }
                @include body-2;
                color: $dark-body;
                display: flex;
                justify-content: center;
                padding-bottom: 5px;  
            }
            
            list-style-type: none;
        }
        .menu-btn{
        &.--active span:nth-of-type(1) {
            display: none;
          }
        &.--active span:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);  
          }
        &.--active span:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg); 
          }
        }
    }
    position: relative;

    .block1__headerinfo__arrows {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: calc((44px * 100vh) / $maxblock1-height);
        left: 50%;
        transform: translate(-50%, 0);
        height: calc((308px * 100vh) / $maxblock1-height);
        width: calc((600px *100vw) / $maxblock1-wigth);

        .svg-icon {
            height: 100%;
        }
    }

    .container-fluid {
        display: flex;
        min-height: inherit;
        padding-top: 65px;
    }

    background-image: url("../assets/images/homepage.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;

    .block1__headerinfo__content {
        padding: 30px;
        z-index: 1;
        text-align: center;

        h1 {

            @include heading-1;
            color: $dark-header;
            padding-bottom: 28px;
        }

        p {
            @include body-2;
            color: $dark-header;
            padding-bottom: 36px;
            margin: 0;
        }
    }

    a {
        z-index: 1;
        color: $white;
        text-decoration: none;
    }

}