@include media-breakpoint-down(md) {
    .block4__services { 
        padding-top: 60px !important;
    }
}

@include media-breakpoint-down(md) {
    .block4__services__content__accordion__content {
        padding: 26px 20px 26px 0 !important;
    }

}

.block4__services {
    padding-top: 120px;


    .block4__services__content__caption {
        @include caption;
        text-align: center;
        padding-bottom: 16px;
        @include media-breakpoint-down(md){
            font-size: 12px;
        }
    }

    .block4__services__content__header {
        @include heading-2;
        text-align: center;
        padding-bottom: 60px;
        @include media-breakpoint-down(md){
            font-size: 24px;
        }
    }

    .block4__services__accordion {
        &.--active {
            .block4__services__content__accordion__content {
                display: block;

            }

            .block4__services__content__accordion__arrow {
                transform: rotate(180deg);
                transition: 0.3s;
                stroke-width: 2;
            }

            .block4__services__content__accordion__btn {
                background: linear-gradient(180deg, #F1F7FF 0%, rgba(241, 247, 255, 0.10) 171.05%);
                font-size: 17px;
                font-weight: 500;

                &::after {
                    opacity: 1;
                }
            }

        }


        box-shadow: 0px 4px 15px 0px rgba(155, 191, 239, 0.15);

        +.block4__services__accordion {
            margin-top: 16px;
        }

        .block4__services__content__accordion__content {
            @include body-5;
            overflow: hidden;
            color: $dark-body;
            background: linear-gradient(180deg, #F1F7FF 0%, rgba(241, 247, 255, 0.10) 171.05%);
            padding: 32px 262px 32px 20px;
            line-height: 170%;
            display: none;

            li {
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
            }

            ul {
                margin-bottom: 0;
            }
            ul {
                list-style-type: none;
                padding: 0;
              }
              
              ul li {
                position: relative;
                padding-left: 20px; /* Регулируйте отступ под свой маркер */
              }
              
              ul li::before {
                content: '\2022'; /* Юникод для круглой точки */
                font-size: 15px; /* Размер маркера */
                color: #000; /* Цвет маркера */
                position: absolute;
                left: 0;
                @include media-breakpoint-down(md){
                    left: 2%;
                }       
              }
        }

        .block4__services__content__accordion__btn {
            display: flex;
            position: relative;
            align-items: center;
            @include heading-7;
            font-weight: 400;
            justify-content: space-between;
            padding: 26px 20px;
            color: $dark-body;
            text-transform: uppercase;
            transition: 0.2s linear;
            cursor: pointer;
            

            &:after {
                content: '';
                height: 1px;
                display: block;
                background: linear-gradient(90deg,
                        rgba($base, 1) 40%,
                        rgba($base, 0) 100%);
                position: absolute;
                width: 100%;
                bottom: 0;
                opacity: 0;
                transition: 0.3s;
                left: 0;
            }

            @include media-breakpoint-up(xl){
                &:hover {
                    background: linear-gradient(180deg, #F1F7FF 0%, rgba(241, 247, 255, 0.10) 171.05%);
                    font-size: 17px;
                    font-weight: 500;
    
                    .block4__services__content__accordion__arrow {
                        stroke-width: 2;
                        transition: 0.4s;
                    }
                }
            }

            p {
                max-width: 80%;
                margin: 0;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}