.footer {
    margin-top: 80px;
    background: linear-gradient(180deg, #F1F7FF 0%, rgba(241, 247, 255, 0.00) 100%);
    width: 100%;
    position: relative;
    &:after {
        content: '';
        height: 1px;
        display: block;
        background: linear-gradient(90deg,
                rgba($base, 0) 0%,
                rgba($base, 1) 17.6%,
                rgba($base, 1) 82.7%,
                rgba($base, 0) 100%);
        position: absolute;
        width: 100%;
        top: 0;
    }

    .footer__bottom {
        position: relative;
        padding: 28px 0;
        p{
            @include body-8;
            margin: 0;
        }
        &:before {
            content: '';
            height: 1px;
            display: block;
            background: linear-gradient(90deg,
                    rgba($base, 0) 5%,
                    rgba($base, 0.5) 35%,
                    rgba($base, 0.75) 50%,
                    rgba($base, 0.5) 65%,
                    rgba($base, 0) 95%);
            position: absolute;
            width: 100%;
            top: 0;
        }

        .footer__text {
            color: $dark-body;
            font-size: 12px;
            font-weight: 400;
            line-height: 155%;

            a {
                text-decoration: none;
                color: $dark-body;
            }
        }

        .footer__img__wrapper {
            padding-right: 0;
            a {
                text-decoration: none;
                margin-right: 16px;
                transition: 0.25s linear;

                &:last-child {
                    margin-right: 0;
                }

                svg {
                    fill: $dark-header;
                    width: 20px;
                    height: 20px;
                    transition: 0.3s linear;

                    &:hover {
                        fill: $hover;
                    }

                }
            }

        }
    }

    .footer__logo {
        a {
            height: 40px;
            width: 85px;
        }

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__top {
        padding: 28px 0;

    }

    .footer__info__btns {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        gap: 52px;
        justify-content: center;

        a {
            transition: 0.25s linear;
            @include body-7;
            color: $dark-header;
            text-decoration: none;

            &:hover {
                color: $hover;
            }
        }


        li {
            display: inline-flex;
        }


    }




}