.header {
    @include media-breakpoint-down(xl) {
        display: none;
    }
    z-index: 10;
    position: fixed;
    width: 100%;
    padding: 12px 0;
    background-color: $light10;
    background: linear-gradient(90deg,
            rgba($white, 0.5) 0%,
            rgba($white, 1) 10%,
            rgba($white, 1) 90%,
            rgba($white, 0.5) 100%);

    &:after {
        content: '';
        height: 1px;
        display: block;
        background: linear-gradient(90deg,
                rgba($base, 0) 0%,
                rgba($base, 1) 17.6%,
                rgba($base, 1) 82.7%,
                rgba($base, 0) 100%);
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .header__logo {
        height: 40px;
        width: 85px;    
    }

    .header__inf__btns {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        gap: 40px;
        justify-content: center;

        a {
            transition: 0.25s linear;
            @include body-7;
            color: $dark-header;
            text-decoration: none;

            &:hover {
                color: $hover;
            }
        }


        li {
            display: inline-flex;
        }


    }


}

