$maxblock1-height: 846px;
$maxblock1-wigth: 1440px;
    

.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    padding: 12px 0;
    background-color: $light10;
    background: linear-gradient(90deg,
            rgba($white, 0.5) 0%,
            rgba($white, 1) 10%,
            rgba($white, 1) 90%,
            rgba($white, 0.5) 100%);

    &:after {
        content: '';
        height: 2px;
        display: block;
        background: linear-gradient(90deg,
                rgba($base, 0) 0%,
                rgba($base, 1) 17.6%,
                rgba($base, 1) 82.7%,
                rgba($base, 0) 100%);
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .header__logo {
        height: 40px;
        width: 85px;    
    }

    .header__inf__btns {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        gap: 40px;
        justify-content: center;

        a {
            transition: 0.3s linear;
            @include body-7;
            color: $dark-header;
            text-decoration: none;

            &:hover {
                color: $hover;
            }
        }


        li {
            display: inline-flex;
        }


    }


}

.block1__headerinfo {
    z-index: 1;
    position: relative;

    .block1__headerinfo__arrows {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: calc((44px * 100vh) / $maxblock1-height);
        left: 50%;
        transform: translate(-50%, 0);
        height: calc((308px * 100vh) / $maxblock1-height);
        width: calc((570px *100vw) / $maxblock1-wigth);

        .svg-icon {
            height: 100%;
        }
    }

    .container {
        display: flex;
        min-height: inherit;
        padding-top: 65px;
    }

    background-image: url("assets/images/homepage.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;

    .block1__headerinfo__content {
        padding: 30px 0;
        z-index: 1;

        h1 {
            text-align: center;
            @include heading-1;
            color: $dark-header;
            padding-bottom: 28px;
        }

        p {
            text-align: center;
            @include body-2;
            color: $dark-header;
            padding-bottom: 36px;
            margin: 0;
        }
    }



    a {
        color: $white;
        text-decoration: none;
    }

    .center {
        justify-content: center;
        flex-direction: column;
    }
}